<body>
	
	<p> Yo, <p>
	<p> Bonne nouvelle, l'utilisateur <#%=user.id %> a claqué ses bouzoufs pour acheter des photos de chats t'as vu </p>
	<p> Voici le récapitulatif de sa commande <p>
	<!--<#% if order.items.size == 1 %>
		<#%= order.item.title %> <br />
		<#%= order.item.image_url %> <br />
		<p> Total de la commande <#%=order.item.price %> </p> -->
		<p> Miaou ! 😽 </p>


	<!-- <% else %>
		<p>Merci pour votre commande sur Pic'your Cat. Voici les photos de votre commande</p>
		<#% order.item.each do |o| %>
			<#%= o.itemm.title %> <br />
			<#%= o.item.image_url %> <br />
			<#%= o.item.price %> <br />
		<#% end %>
		<p><#%=order.items.sum(:price)=%></p>
		<p> Miaou ! 😽 </p>
	<#%end%> -->



</body>
