<div class="form-block p-30 light-gray-bg border-clear" style="margin-top: 50px; margin-bottom: 50px; margin-left: auto; margin-right: auto; text-align: center;">
  <h2 class="title">Thank you buddy!
  	<br />Your order is processed and you should receive an order confirmation mail.</h2>
  	<br />
  	<br />
  	<a href="<%= root_path %>">>>Go back to Homepage</a>

</div>