<h1>Item show:</h1>
<p>
		Title: <%= @item.title %>
		<br/>
		Description: <%= @item.description %>
		<br/>
		Price: <%= @item.price %> €
		<br/>
			<%= image_tag "items/#{@item.image_url}" %>
		<br />
		<br />
</p>
