/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require bootstrap/css/bootstrap

 *= require plugins/magnific-popup/magnific-popup
 *= require plugins/rs-plugin-5/css/settings
 *= require plugins/rs-plugin-5/css/layers
 *= require plugins/rs-plugin-5/css/navigation
 *= require css/animations

 *= require plugins/slick/slick

 *= require font-awesome
 *= require css/style
 *= require css/typography-default
 *= require css/skins/light_blue
 *= require css/custom
 */

.logo img
{
	height: 50px;
}

.user-profile-menu
{
	width: 50%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}