 <footer id="footer" class="clearfix ">

    <!-- .footer start -->
    <!-- ================ -->
    <div class="footer">
      <div class="container">
        <div class="footer-inner">
          <div class="row">
            <div class="col-lg-3">
              <div class="footer-content">
                <div class="logo-footer"><img id="logo-footer" src="../../assets/images/logo_light_blue.png" alt=""></div>
                <div class="icons-block mt-10 mb-10" style="text-align: center;">
                  Buy quickly and safely with <i class="fa fa-cc-stripe"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
            </div>
            <div class="col-lg-3">
              <div class="footer-content">
                <h2 class="title">About Us</h2>
                <div class="separator-2"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium odio voluptatem necessitatibus illo vel dolorum soluta.</p>
                <div class="separator-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .footer end -->

    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter">
      <div class="container">
        <div class="subfooter-inner">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">Copyright Pic'Your Cat © 2018. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .subfooter end -->

  </footer>